body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
}

.section-two .title-two {
  display: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
}
a {
  display: inline-block;
}
.container {
  max-width: 1158px;
}

.title-one {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.title-two {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.title-three {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.section-one {
  background-color: #2e2f42;
  padding: 120px 0 120px 0;
}
.section-two {
  padding: 120px 0 120px 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.section-three {
  background-color: #f4f4fd;
  padding: 120px 0 120px 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.section-three .list {
  background-color: #ffffff;
}
.list {
  display: flex;
  flex-shrink: 0;
}
/* header */
.navigation {
  color: #2e2f42;
  font-weight: 500;
}
.container .nav {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}
.navigation:hover,
.navigation:focus,
.navigation:active {
  color: #404bbf;
}
.header .container {
  display: flex;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
/* contacts  */
.contacts {
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.contacts-link {
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
  color: #404bbf;
}
/* logo  */
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.nav .logo-studio {
  color: #2e2f42;
}
.footer .logo-studio {
  color: #f4f4fd;
}
/* button */
.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* footer  */
.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
}
